.carous img{
    object-fit: cover;
    height: 350px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .carous img {
        height: 250px;
    }
}

.carous {
    border-radius: 20px;
}

.grey {
    color: rgb(117, 117, 117);
    max-width: 300px;
}